{%extends "base.html"%}
{%block content%}

<div class="message-box">
  <h2>Chat room: {{code}}</h2>
  <div class="messages" id="messages"> </div>

  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message" />
    <button type="button" name="send" id="send-btn" onClick="handleSendMessage()">
      Send
    </button>
  </div>
</div>

<script type="text/javascript">
  let socketio = io();
  let msgSender;
  const sessionName = "{{ session.get('name') }}";
  const allMessages = document.getElementById("messages");


  const addMessageToHtml = (name, msg, dateSent) => {
    if (msg === "") return
    const htmlMessage = `
      <div>
        <span>
          ${name === sessionName ? `<b>${sessionName}</b>` : name} : ${msg}   
        </span>
        <span>
          <i>${dateSent}</i>
        </span>
      </div>
    `;
    allMessages.innerHTML += htmlMessage;

  }


  //send message object to server.
  //the server process this message in socketio.on("message")
  const handleSendMessage = () => {
    //get message input box value
    const message = document.getElementById("message");
    const dateSent = new Date().toLocaleString()

    if (message === "") return;


    //make a new message event
    socketio.emit("message", {
      content: message.value,
      dateSent: dateSent,
      sender: sessionName
    })
    message.value = ""
  }


  socketio.on("message", (data) => {
    addMessageToHtml(data.name, data.message, data.dateSent || new Date().toLocaleString())
  })
</script>

{%for msg in allMessages%}
<script type="text/javascript">
  msgSender = "{{msg[1]}}"
  addMessageToHtml(
    msgSender === sessionName ?
    `<b>${msgSender}</b>` :
    msgSender,
    "{{msg[0].message}}",
    "{{msg[0].dateCreated}}"
  )
</script>
{%endfor%}
{%endblock%}